
.mau{
    background-color: white;
    border: 1px solid black;
    width: 200px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 20px;
}
.caption{
    color: red;
}
.th1{
    
    background-color: white;
    border: 1px solid black;
    width: 200px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 200px;
}
table p{
    font-weight: normal;
    
}
