.main{
    background-color: #f1f1f1;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    .main_header{
        h1{
            font-family: 'Brush Script MT', cursive;
        }
    }
    .main_menu{
        display: flex;
        flex-wrap: nowrap;
        gap: 20px;
        a{
            text-decoration: none;
            color: black;
            opacity: 0.5; 
        }
        .Home {
            opacity: 1;
        }
    }
    button{
        background-color: rgb(236, 107, 107);
        opacity: 0.5;
        border: none;
        padding: 15px;
        border-radius: 5px;

    }
}